body{
    background-color: rgb(231, 192, 140);
    font-family: 'Exo 2' , sans-serif;
}

.stv-div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stv-div img {
    width: 20%;
}

footer{
    background-color: rgb(61, 57, 57);
    color: rgb(223, 215, 215);
    text-align: center;
}