* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgb(231, 192, 140);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Style Script', cursive;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    align-self: flex-end;
    text-align: center;
    position: sticky;
    width: 100vw;
    padding: 1rem;
    background-color: rgb(111, 63, 12);
    font-size: 1.25rem;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    padding: 0.25rem;
    text-align: center;
    color: rgb(111, 63, 12)
}

.main-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem;
}

.main-title img {
    width: 30rem;
    height: 12rem;
}

.game-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.memory-game {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;
    perspective: 1000px;
}

.memory-card {
    width: 8.5rem;
    height: 9rem;
    margin: 0.5rem;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 5px;
    position: absolute;
    background-color: rgb(252, 227, 4);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
    background-color: rgb(47, 185, 70);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.button-muted {
    position: absolute;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.button-muted:active {
    transform: scale(.95);
}

/* Media Queries */

@media all and (max-width: 992px) {
    .memory-game {
        grid-template-columns: repeat(4,1fr);
    }
    
}

@media all and (max-width: 768px) {
    .memory-game {
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media all and (max-width: 576px) {
    .memory-game {
        grid-template-columns: repeat(2,1fr);
    }
    
}