body{
    background-color: rgb(231, 192, 140);
    font-family: 'Tinos', serif;
}

.stv-div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.stv-div img {
    width: 20rem;
}
.stv-div button {

    font-family: 'Tinos', serif;
    font-size: 1.25rem;
    font-weight: bold;

    margin: 2rem;
    padding: 1.25rem;

    background-color: #7c470e;
    color: #fce304;
    
}

.stv-div-cards {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stv-div-cards img {
    width: 10rem;
    height: 10rem;
    background-color: rgba(255, 246, 246, 0.733);
    margin: 5px;
}

footer{
    background-color: rgb(61, 57, 57);
    color: rgb(223, 215, 215);
    text-align: center;
}